@font-face {
    font-family: 'Snell Roundhand';
    src: url('../assets/ofont.ru_Snell\ Roundhand.ttf');
};

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
a {
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 10px;
    color: #000;
    font-family: 'Snell Roundhand';
}

@keyframes disappearance {
    from {
        opacity: 1;
    } 
    to {
        opacity: 0;
    }
}

@keyframes appearance {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}


.wrapper {
    height: 100vh;
    background: url('../assets//background.avif') no-repeat;
    background-size: cover;
    padding-top: 1.5rem;

    .container {
        width: 80%;
        margin: 0 auto;

        .buttons {
            display: flex;
            width: 70%;
            justify-content: space-between;
            margin: 0 auto 20rem;

            .btn {
                width: 45%;
                font-size: 3rem;
                border: 3px solid white;
                border-radius: 10px;
                font-weight: 400;
                cursor: pointer;
                height: max-content;
                background-color: #d7ccc8;

                &:hover {
                    background-color: #a1887f;
                    transition: all 0.5s ease-in;
                }
            }

            @media (max-width: 710px) {
                .btn {
                    font-size: 2.5rem;
                }
            }

            @media (max-width: 594px) {
                .btn {
                    font-size: 2rem;
                }
            }

            @media (max-width: 478px) {
                .btn {
                    font-size: 1.8rem;
                }
            }

            @media (max-width: 432px) {
                .btn {
                    font-size: 1.6rem;
                }
            }

            @media (max-width: 385px) {
                .btn {
                    font-size: 1.5rem;
                }
            }

            @media (max-width: 362px) {
                .btn {
                    font-size: 1.4rem;
                }
            }

            @media (max-width: 339px) {
                .btn {
                    font-size: 1.3rem;
                }
            }

            .quote-button {
                margin-bottom: 2rem;
            }
        }

        @media (max-width: 1142px) {
            .buttons {
                width: 80%
            }
        }

        @media (max-width: 999px) {
            .buttons {
                width: 90%
            }
        }

        @media (max-width: 888px) {
            .buttons {
                width: 100%
            }
        }

        .quote {
            font-size: 3rem;
            margin-bottom: 2rem;
            font-weight: 600;
            line-height: 120%;
            transition: all 0.5s ease-in;
            opacity: 1;
            width: 52%;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 998px) {
            .quote {
                width: 60%;
            }
        }

        @media (max-width: 865px) {
            .quote {
                width: 70%;
            }
        }

        @media (max-width: 658px) {
            .quote {
                width: 80%;
                margin-left: 25%;
            }
        }

        @media (max-width: 576px) {
            .quote {
                font-size: 2.5rem;
            }
        }

        @media (max-width: 480px) {
            .quote {
                width: 90%;
                margin-left: auto;
            }
        }

        @media (max-width: 426px) {
            .quote {
                width: 100%;
                margin-left: 5%;
            }
        }

        @media (max-width: 384px) {
            .quote {
                font-size: 2.3rem;
            }
        }

        @media (max-width: 353px) {
            .quote {
                font-size: 2.1rem;
            }
        }

        @media (max-width: 322px) {
            .quote {
                font-size: 2rem;
            }
        }

        .author {
            font-size: 3rem;
            margin-left: 23.5%;
            font-family: serif;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        @media (max-width: 998px) {
            .author {
                margin-left: 19%
            }
        }

        @media (max-width: 865px) {
            .author {
                margin-left: 14.5%
            }
        }

        @media (max-width: 658px) {
            .author {
                margin-left: 23.5%
            }
        }

        @media (max-width: 576px) {
            .author {   
                font-size: 2.5rem;
            }
        }

        @media (max-width: 480px) {
            .author {   
                margin-left: 4%;
            }
        }

        @media (max-width: 384px) {
            .author {   
                font-size: 2.3rem;
            }
        }

        @media (max-width: 353px) {
            .author {   
                font-size: 2.1rem;
            }
        }

        @media (max-width: 322px) {
            .author {   
                font-size: 2.1rem;
            }
        }
    }

    @media (max-width: 799px) {
        .container {
            width: 90%;
        }
    }
}

@media (max-width: 480px) {
    .wrapper {
        background-position: 15%;
    }
}